# Cleaning Ecuador's Dataset

## Import Packages

Style Notes:
*   Always import your libraries and packages at the top of your code to avoid name clashes, undefined behavior, and to let everyone know what they need to install to run the whole script.
*   Constant's names are usually written in "all caps" to signal other programmers (and oneself) that their values should not be changed throughout the code (under normal circumstances, at least). In other languages there are ways to yield errors if attempts to modify them occur (making them true constants).
*   Constants should also be defined at the top of your code, so that they are clearly visible to collaborators, and defined throughout the whole codeset.
*   Functions definitions should be at the top of the program (in Python) or another file (preferrably on another file). This is to avoid undefined behaviours and to keep the code tidy. Just beware, because the Jupyter's `%run` is a different way to import the functions as the one that is usually used in regular non-Jupyter python (which is a normal `import`).

In [1]:
###############################################################################
# Make sure to change username for the correct path to be setup.
#   TH: Thien-An Ha
#   HS: Héctor M. Sánchez C.
#   TL: Tomás León
###############################################################################
USER = 'HS'
###############################################################################
import pandas as pd
%run functionsDefinitions.py

## Setup Paths

Style Notes: 
*   Setting up the path separate from the filename will help when we want to export the results of the cleaning.

In [2]:
###############################################################################
# Add user ID's if more people are gonna work on the dataset. Make sure to
#   change the USER constant (first line of the notebook) so that the path 
#   is set correctly.
###############################################################################
if USER == 'TH':
    FILE = 'BAS_20190611_Reporte_colectas_insectario_ADB_V03.xlsx'
    PATH = r'C:\Users\Daoanh\Documents\Berkeley\Summer 2019\INSPI'
    FILEPATH = PATH + '\\' + FILE
    print(FILEPATH)
elif USER == 'HS':
    FILE = 'BAS_20190611_Reporte_colectas_insectario_ADB_V02.xlsx'
    PATH = '/Volumes/marshallShare/Ecuador/'
    FILEPATH = PATH + FILE
    print(FILEPATH)
elif USER == 'TL':
    (FILE, PATH, FILEPATH) = [None for i in range(3)]
    print('Paths for comrade Tomas have not been setup yet.')
else:
    (FILE, PATH, FILEPATH) = [None for i in range(3)]
    print('Invalid username. Paths are set to "None".')

/Volumes/marshallShare/Ecuador/BAS_20190611_Reporte_colectas_insectario_ADB_V02.xlsx

## Load Datasets

General Notes:
*   This line takes some time because the dataset is large. Wait until the evaluation is over!

Coding Notes:
*   The `'.'` in most programming languages is used to denote that you're calling the method of an instance of an object (I'll explain this a bit better once we're back). In general terms it can be read as `object.method()`, where we're asking the `object` to perform the `method` action. For example: `dataImmTAO.head()` tells the dataframe object `dataImmTAO` that it should perform the `head()` action, which is coded in its class' definition (this also needs some 'in-person' explaining, but it's not difficult).

In [21]:
###############################################################################
# Load the dataset with the date columns being parsed as datetime objects.
###############################################################################
data_se = pd.read_excel(
    FILEPATH, 
    sheet_name='1.socio_económico_SATVEC',
    parse_dates=[0, 6, 33]
)
print(list(data_se.columns))
data_se.head()

,Año,Parroquia,Provincia,Distrito,Circuito,Subcircuito,Fecha de colecta,Código provincia,Código distrito,Código circuito,...,malla protectora,sitios de reproducción,codigo muestreo anterior,fecha digitación,digitador,iep1_id,idp1_id,nombre proyecto,observación encabezado,observaciones
0,196,Huaquillas,El Oro,Huaquillas,Hualtaco,No identificado,28/03/196,7,5,6,...,No,Si,NaN,2017-10-27,Paulina Margarita Ulloa Constante,1906,47686,NaN,NaN,NaN
1,2013,Manta,Manabí,Manta,Centro,Centro 1,2013-01-14 00:00:00,13,2,7,...,Sin Llenar,Sin Llenar,ECU-M-MNT-CEN,2015-05-19,Romel Fabricio Cáceres Chuquer,643,25422,NaN,NaN,NaN
2,2013,Manta,Manabí,Manta,Centro,Centro 1,2013-01-14 00:00:00,13,2,7,...,Sin Llenar,Sin Llenar,ECU-M-MNT-CEN,NaT,Gustavo Eduardo Pérez Mejía,534,21979,NaN,NaN,NaN
3,2013,Manta,Manabí,Manta,Centro,Centro 1,2013-01-14 00:00:00,13,2,7,...,Sin Llenar,Sin Llenar,ECU-M-MNT-CEN,NaT,Gustavo Eduardo Pérez Mejía,534,21967,NaN,NaN,NaN
4,2013,Manta,Manabí,Manta,Centro,Centro 1,2013-01-14 00:00:00,13,2,7,...,Sin Llenar,Sin Llenar,ECU-M-MNT-CEN,NaT,Gustavo Eduardo Pérez Mejía,534,21968,NaN,NaN,NaN

In [22]:
data_supply = pd.read_excel(
    FILEPATH, 
    sheet_name='1.tipo_suministro',
    parse_dates=[0, 6]
)
print(list(data_supply.columns))
data_supply.head()

['Año', 'Parroquia', 'Provincia', 'Distrito', 'Circuito', 'Subcircuito', 'Fecha de colecta', 'Código provincia', 'Código distrito', 'Código circuito', 'Código subcircuito', 'Código casa', 'Tipo de suministro', 'iep1_id', 'idp1_id']

,Año,Parroquia,Provincia,Distrito,Circuito,Subcircuito,Fecha de colecta,Código provincia,Código distrito,Código circuito,Código subcircuito,Código casa,Tipo de suministro,iep1_id,idp1_id
0,196,Huaquillas,El Oro,Huaquillas,Hualtaco,No identificado,28/03/196,7,5,6,0,1,Agua Potable,1906,47686
1,2013,Guayaquil,Guayas,Nueva Prosperina,Nueva Prosperina,Nueva Prosperina 1,2013-01-14 00:00:00,9,8,1,1,1,Agua Potable,783,30906
2,2013,Guayaquil,Guayas,Nueva Prosperina,Nueva Prosperina,Nueva Prosperina 1,2013-01-14 00:00:00,9,8,1,1,3,Agua Potable,783,30919
3,2013,Guayaquil,Guayas,Nueva Prosperina,Nueva Prosperina,Nueva Prosperina 1,2013-01-14 00:00:00,9,8,1,1,4,Agua Potable,783,30923
4,2013,Guayaquil,Guayas,Nueva Prosperina,Nueva Prosperina,Nueva Prosperina 1,2013-01-14 00:00:00,9,8,1,1,5,Agua Potable,783,30931

In [23]:
data_wc = pd.read_excel(
    FILEPATH, 
    sheet_name='1.recipientes_agua',
    parse_dates=[0, 4]
)
print(list(data_wc.columns))
data_wc.head()

['Año', 'Cantón', 'Parroquia', 'Provincia', 'Distrito', 'Circuito', 'Subcircuito', 'Fecha de colecta', 'Código provincia', 'Código distrito', 'Código circuito', 'Código subcircuito', 'Código casa', 'Material de recipiente', 'No. de recipientes', 'idp1_id', 'iep1_id']

,Año,Cantón,Parroquia,Provincia,Distrito,Circuito,Subcircuito,Fecha de colecta,Código provincia,Código distrito,Código circuito,Código subcircuito,Código casa,Material de recipiente,No. de recipientes,idp1_id,iep1_id
0,196,Huaquillas,Huaquillas,El Oro,Huaquillas,Hualtaco,No identificado,28/03/196,7,5,6,0,1,Plástico,2,47686,1906
1,2013,Manta,Manta,Manabí,Manta,Centro,Centro 1,2013-01-14 00:00:00,13,2,7,1,18,Otro,7,21943,534
2,2013,Manta,Manta,Manabí,Manta,Centro,Centro 1,2013-01-14 00:00:00,13,2,7,1,28,Otro,1,21969,534
3,2013,Manta,Manta,Manabí,Manta,Centro,Centro 1,2013-01-14 00:00:00,13,2,7,1,24,Plástico,4,21963,534
4,2013,Manta,Manta,Manabí,Manta,Centro,Centro 1,2013-01-14 00:00:00,13,2,7,1,29,Otro,1,21970,534

##  Merge Datasets

Coding Notes:
*   The reason why `dataframe.columns` does not have the parenthesis at the end might seem a bit strange at first but it has to do with how objects are defined in Python. I'll explain more when we meet.
*   Python allows "list comprehensions" such as: `[operationX(i) for i in listIn]`, which can be read as: _perform an operationX on every element i on my list_. In the case of: `[set(frame.columns) for frame in dataListOne]`, we are saying: _get the columns of my dataframe, convert them into a set, and do that for every dataframe in my dataListOne_. 

Style Notes:
*   In general, having more than 79 characters is considered to be in "poor style" (because of reasons that are older than myself). So, whenever possible, split the lines to fit within that limit. Although this is being a bit obnoxious, quite honestly.
*   When splitting lines in a function, there are standards to follow in terms of where to close the parentheses (in terms of "tabs"). I like to close them all the way left because it's more like the C/C++'s standard (Jared likes to close them at the same level they started because it's more like R's standard). I think Python's standard is closer to R's than C but I'm just stubborn, and like my old ways.
*   Regarding the order of the arguments passed to the function. It's a good practice to have them ordered in similar ways as they are presented in the documentation, although I usually do it more in a "categorical"/"symmetrical" way: most important first, and break line whenever I feel they belong to a different objective (for example: _left_ and _right_ are data inputs, then _on_ is the merging "axis" so I break line, and _how_ is the type of merge so I break line again; so I break it in three). This is mostly a judgment call to whatever you think is more reasonable and readable for others.
*   On the spaces between lines. There's also a lot of rules but I tend to add blank lines in-between operations that I consider should take place together as a block ("atomic"). I like the code to be super compact so that I can read a lot of it without scrolling, but I know most people find it too dense, so it's ok to add more spaces if needed. The only one that's usually super important is to add two lines before functions definitions. The code will work without them, but it's nice for others to read it because it signals a change in function definition.
*   On spaces between operators (particularly assignment '='). You should add spaces around assignments (`a = 10`) but not add spaces when you're passing arguments within a function (`functionX(a=1)`).

In [24]:
# Set up overlapping columns to prevent duplicate columns when merging
dataListOne = [data_se, data_supply]
colsOne = [set(frame.columns) for frame in dataListOne]
overlappingColOne = list(set.intersection(*colsOne))
print(overlappingColOne)

['Fecha de colecta', 'Distrito', 'Provincia', 'Código distrito', 'Código circuito', 'Parroquia', 'Código provincia', 'Subcircuito', 'Circuito', 'idp1_id', 'Código subcircuito', 'iep1_id', 'Año', 'Código casa']

In [25]:
# Merge (casting overlappingColOne as a list fixed the error)
data_sesupply = pd.merge(
    left=data_se, right=data_supply,
    on=overlappingColOne, how='inner'
)
getSortedCols(data_sesupply)
data_sesupply.head()

,Año,Parroquia,Provincia,Distrito,Circuito,Subcircuito,Fecha de colecta,Código provincia,Código distrito,Código circuito,...,sitios de reproducción,codigo muestreo anterior,fecha digitación,digitador,iep1_id,idp1_id,nombre proyecto,observación encabezado,observaciones,Tipo de suministro
0,196,Huaquillas,El Oro,Huaquillas,Hualtaco,No identificado,28/03/196,7,5,6,...,Si,NaN,2017-10-27,Paulina Margarita Ulloa Constante,1906,47686,NaN,NaN,NaN,Agua Potable
1,2013,Manta,Manabí,Manta,Centro,Centro 1,2013-01-14 00:00:00,13,2,7,...,Sin Llenar,ECU-M-MNT-CEN,2015-05-19,Romel Fabricio Cáceres Chuquer,643,25422,NaN,NaN,NaN,Agua Entubada
2,2013,Manta,Manabí,Manta,Centro,Centro 1,2013-01-14 00:00:00,13,2,7,...,Sin Llenar,ECU-M-MNT-CEN,NaT,Gustavo Eduardo Pérez Mejía,534,21979,NaN,NaN,NaN,Agua Entubada
3,2013,Manta,Manabí,Manta,Centro,Centro 1,2013-01-14 00:00:00,13,2,7,...,Sin Llenar,ECU-M-MNT-CEN,NaT,Gustavo Eduardo Pérez Mejía,534,21967,NaN,NaN,NaN,Agua Entubada
4,2013,Manta,Manabí,Manta,Centro,Centro 1,2013-01-14 00:00:00,13,2,7,...,Sin Llenar,ECU-M-MNT-CEN,NaT,Gustavo Eduardo Pérez Mejía,534,21968,NaN,NaN,NaN,Agua Entubada

In [26]:
# Repeat above steps to merge the data_wc (water container) sheet 
dataListTwo = [data_sesupply, data_wc]
colsTwo = [set(frame.columns) for frame in dataListTwo]
overlappingColTwo = list(set.intersection(*colsTwo))

In [27]:
# Merge
data_sesupplywc = pd.merge(
    left=data_sesupply, right=data_wc,
    on=overlappingColTwo, 
    how='inner'
)
getSortedCols(data_sesupplywc)
len(list(data_sesupplywc.columns))

44

##  Verify the Merge Operations

In [43]:
# Verify that the final merged dataframe contains all the columns the independent ones contain without duplicates.
fullSet = set(getSortedCols(data_sesupplywc))
independentSets = [set(list(i.columns)) for i in [data_se, data_supply, data_wc]]
# Check that the final dataframe contains all the columns contained in all the other three dataframes
set.union(*independentSets) == fullSet

True

# Tips and Tricks

*   To get a list of operations that an object can perform type `dir(object)` and a list will be printed.

In [28]:
dir(dataListOne)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']