## Import Packages

In [1]:
import pandas as pd

## Setup Paths

In [16]:
FILE = 'BAS_20190611_Reporte_colectas_insectario_ADB_V03.xlsx'
PATH = r'C:\Users\Daoanh\Documents\Berkeley\Summer 2019\INSPI'
FILEPATH = PATH + '\\' + FILE
FILEPATH

'C:\\Users\\Daoanh\\Documents\\Berkeley\\Summer 2019\\INSPI\\BAS_20190611_Reporte_colectas_insectario_ADB_V03.xlsx'

In [17]:
FILEPATH

'C:\\Users\\Daoanh\\Documents\\Berkeley\\Summer 2019\\INSPI\\BAS_20190611_Reporte_colectas_insectario_ADB_V03.xlsx'

In [21]:
dataImmTAO = pd.read_excel(
    FILEPATH, sheet_name='3a.detalle_inmaduros'
    )

In [22]:
dataImmTAO.head()

,Año,Parroquia,Provincia,Distrito,Circuito,Subcircuito,Fecha de colecta,Código provincia,Código distrito,Código circuito,...,especie,sexo,destino,apellido,nombre,observacion,foto,ie3a_id,id3a_id,Sheet Number
0,2014,Guayaquil,Guayas,Nueva Prosperina,Paraíso De La Flor,Paraíso De La Flor 1,2014-03-17,9,8,3,...,aegypti,Hembra,Molecular,Ulloa Constante,Paulina Margarita,NaN,NaN,2,1,3a
1,2014,Guayaquil,Guayas,Nueva Prosperina,Paraíso De La Flor,Paraíso De La Flor 1,2014-03-17,9,8,3,...,aegypti,Macho,Molecular,Ulloa Constante,Paulina Margarita,NaN,NaN,2,2,3a
2,2014,Guayaquil,Guayas,Nueva Prosperina,Paraíso De La Flor,Paraíso De La Flor 1,2014-03-17,9,8,3,...,aegypti,Macho,Molecular,Ulloa Constante,Paulina Margarita,NaN,NaN,2,3,3a
3,2014,Guayaquil,Guayas,Nueva Prosperina,Paraíso De La Flor,Paraíso De La Flor 1,2014-03-17,9,8,3,...,aegypti,Macho,Molecular,Ulloa Constante,Paulina Margarita,NaN,NaN,5,4,3a
4,2014,Guayaquil,Guayas,Nueva Prosperina,Paraíso De La Flor,Paraíso De La Flor 1,2014-03-17,9,8,3,...,aegypti,Hembra,Molecular,Ulloa Constante,Paulina Margarita,NaN,NaN,5,5,3a